*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#edf2ff;

padding:40px;

}

.container{

max-width:1000px;

margin:auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 15px #ccc;

}

h1{

text-align:center;

color:#0d47a1;

margin-bottom:30px;

}

.form{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:15px;

margin-bottom:30px;

}

.form input,
.form select{

padding:12px;

}

button{

background:#d50000;

color:white;

border:none;

cursor:pointer;

padding:12px;

}

button:hover{

background:#0d47a1;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#0d47a1;

color:white;

padding:12px;

}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;

}

.delete{

background:red;

padding:8px 15px;

border:none;

color:white;

cursor:pointer;

}

@media(max-width:900px){

.form{

grid-template-columns:1fr;

}

}